<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,500,700,400italic|Material+Icons">
    <link rel="apple-touch-icon" sizes="180x180" href="<%=BASE_URL%>icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%=BASE_URL%>icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%=BASE_URL%>icons/favicon-16x16.png">
    <link rel="manifest" href="<%=BASE_URL%>icons/site.webmanifest">
    <link rel="mask-icon" href="<%=BASE_URL%>icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="rekognition ui">
    <meta name="application-name" content="rekognition ui">
    <title>rekognition ui</title>
  </head>

  <body>
    <noscript>
      <strong>We're sorry but mailing doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script>
    window.scroll({
      behavior: 'smooth'
    });

  </script>

</html>
