<template>
  <div id="app">
    <md-app
      :md-scrollbar="true"
      md-mode="fixed"
      style="min-height:100vh"
    >
      <md-app-content class="md-transparent">
        <router-view class="container" />
      </md-app-content>
    </md-app>
    <md-snackbar
      md-position="left"
      :md-duration="4000"
      :md-active.sync="sb_show"
      md-persistent
    >
      <span>{{sb_msg}}</span>
    </md-snackbar>
  </div>
</template>
<script>
export default {
  name: "App",
  methods: {
    notificacion(a) {
      this.sb_show = true;
      this.sb_msg = a;
    }
  },
  data() {
    return {
      sb_show: false,
      sb_msg: null
    };
  }
};
</script>
<style lang="scss">
@import "styles/main.css";
@import "~vue-material/dist/theme/engine";
@include md-register-theme(
  "default",
  (
    primary: #aeffd4,
    accent: #c41b32,
    //911526
      theme: dark
  )
);
@import "~vue-material/dist/theme/all";
</style>