*,
*:before,
*:after {
    box-sizing: inherit;
    scroll-behavior: smooth !important;
}

html,
body {
    scroll-behavior: smooth !important;
    position: relative;
    margin: 0;
    min-height: 100vh;
    background: #191919
}

.mt24 {
    margin-top: 24px !important;
}

.mt16 {
    margin-top: 16px !important;
}

.mt16 {
    margin-top: 8px !important;
}

.mb24 {
    margin-bottom: 24px !important;
}

.mb24 {
    margin-bottom: 24px !important;
}

.mb16 {
    margin-bottom: 16px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.w100 {
    width: 100%;
}

.fixed-toolbar {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 5 !important;
    width: 100%;
}

.md-drawer {
    width: 300px !important;
    z-index: 9 !important;
}

.md-menu-content {
    z-index: 99 !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

@-ms-viewport {
    width: device-width;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    transform: translate3D(0, 0, 0);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0.2s;
    max-width: 1440px;
    width: 100%;
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.clearfix:after,
.container:after {
    clear: both;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.md-list-item.md-inset .md-list-item-content {
    white-space: normal !important;
    word-wrap: break-word !important;
}

.md-bottom-bar>.md-ripple {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
}

@media (max-width: 599px) {
    .hidden-small {
        display: none;
    }

    .container {
        padding-top: 48px !important;
        padding-bottom: 72px;
    }
}

@media (min-width: 600px) {
    .hidden-medium {
        display: none;
    }

    .container {
        padding-top: 48px !important;
        padding-bottom: 8px;
    }
}

.md-fab {
    z-index: 10 !important;
}

.md-app-container {
    background: #191919 !important;
}

.md-app-content {
    height: 100vh !important;
    background: #191919 !important;
}

.md-list-item.md-inset .md-list-item-content {
    white-space: normal !important;
    word-wrap: break-word !important;
}