<template>
  <div class="home">
    <div class="md-layout md-layout-item md-xsmall-size-100 md-size-40">
      <img
        :src="url"
        v-if="url"
        class="mb24"
      >
      <md-field>
        <label>Seleccione la imagen a procesar</label>
        <md-file
          v-model="file"
          accept="image/*"
          @md-change="_doImg($event)"
        />
      </md-field>
    </div>
    <div class="md-layout md-layout-item md-xsmall-size-100 md-size-60"></div>
  </div>
</template>

<script>
import AWS from "aws-sdk";
const fs = require("fs");
import { constants } from "crypto";

export default {
  name: "home",
  data() {
    return {
      file: null,
      url: null,
      rk: new AWS.Rekognition({
        accessKeyId: "AKIARP24TWSU3RMN3VJ6",
        secretAccessKey: "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",
        region: "us-east-1",
        apiVersion: "20190518"
      })
    };
  },
  methods: {
    _doImg(e) {
      console.dir(this.file);
      if (e[0]) {
        this.url = URL.createObjectURL(e[0]);
        this._doAWS();
      }
    },
    _doAWS() {
      console.dir(fs);
      console.dir("hagamos doAWS");
      let bitmap = fs.readFileSync("../assets/logo.png");
      console.dir("paso bitmap");
      let image = {
        Image: {
          Bytes: bitmap
        },
        //Attributes: ['ALL'], //detectFaces
        MaxLabels: 123, //detectLables
        MinConfidence: 70 //detectLables
      };
    }
  },
  created() {}
};
</script>
